{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
